/*CSS file*/

.navigation{
    background: #222222;
    min-height:400px;
}

.menu{
    list-style-type: none;
    cursor: pointer;
    color: #ffffff;
    margin-top: 40px;
}

.menu li{
    padding: 2px;
    font-size: 14px;
}

.menuitems, .menuitems a{
    color: #fff;
}
.menuitems li:hover{
    transition: color 0.7s ease;
    color: #000;
}

.resutl ul{
	list-style-type: none;
}

.loggedin-area {
    height: 100px;
}

.loggedin-area img{
    float: left;
    margin-top: 20px;
}
.loggedin-area p{
    float: left;
    color: #fff;
    font-weight: 800;
    margin-top: 10px;
}

div.newsletter-buttons{
   /* display: table-caption;*/
}

/*********** Top menu ***********/

.top-menu{
    height: 50px;
    background: #222;
    display: inline-block;
}

.day{
    color: #fff;
    width: 200px;
    float: right;
    margin-top: 15px;
}

.search{
    margin-top: 8px;
    width: 350px;
    display: inline-block;
}
/*********** Result ***********/

.loading{
    margin: 50px auto;
    width: 10%;
}

.result{
    /*background: #ccc;*/
}

.odd{
    background: #ccc;
}

.even{
    background: #eee;    
}

.sample-show-hide {
  padding:10px;
  background:white;
  opacity:0;
}

.sample-show{
      -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
  opacity:1;
}