/*CSS file*/

.navigation{
    background: #222222;
    min-height:400px;
}

.menu{
    list-style-type: none;
    cursor: pointer;
    color: #ffffff;
    margin-top: 40px;
}

.menu li{
    padding: 2px;
    font-size: 14px;
}

.menuitems, .menuitems a{
    color: #fff;
}

.resutl ul{
	list-style-type: none;
}

.loggedin-area {
    height: 100px;
}

.loggedin-area img{
    float: left;
    margin-top: 20px;
}
.loggedin-area p{
    float: left;
    color: #fff;
}

div.newsletter-buttons{
   /* display: table-caption;*/
}

/*********** Top menu ***********/

.top-menu{
    height: 50px;
    background: #222;
}

/*********** Result ***********/

.loading{
    margin: 50px auto;
    width: 10%;
}

.result{
    /*background: #ccc;*/
}